@import "bourbon";
@import "neat";
@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Rochester);

.container {
  width: 100%;
  height: 100%;

}

// Images View
.images-view {
  background-color: #FAFAFA;

}

header {
  width: 100%;
  height: 78px;
  padding-top: 25px;
  padding-left: 110px;
  border-bottom: 1px solid #EDEEEE;
  background-color: white;
  // display: inline;
  // float: left;

  h4 {
  width: 100px;
  margin: 0;
  padding-left: 60px;
  font-family: 'Rochester', cursive;
  font-size: 19px;
  float: left;
  }

  input {
   border-radius: 15px;
    border: solid 1px #edeeee;
    font-size: 14px;
    height: 30px;
    outline: none;
    margin-left: 295px;
    padding: 3px 10px 3px 26px;
    width: 220px;
    text-align: center;
  }

  a {
    width: 222px;
    margin: 0;
    padding-right: 151px;
    float: right;
    color: #125688;
    font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-size: 14px;

  }
}

.profile {

  margin-bottom: 45px;
  margin: auto;
  padding: 50px 50px;
  width: 935px;
  height: 140px;
  margin: auto;
  // display: inline;
}

.profile-image {
  margin-right: 0;
  width: 152px;
  height: 152px;
  border-radius: 100px;
  float: left;
  background: url(https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s640x640/sh0.08/e35/12105186_1017270565013559_139675607_n.jpg) ;
  background-size: 100%;
}

.profile-title {
  color: #4b4f54;

  
  h3 {
    width: 250px;
    margin: 0;
    font-size: 30px;

  }

  a {
    width: 200px;
    margin: 0;
  }
}


.profile-info {
  width: 585px;
  margin-right: 0;
  float: right;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif 100;
  
}


.profile-desc {
  padding-top: 20px;

  
  h3 {
    width: 800px;
    margin: 0;
    color: #4b4f54;
    font-size: 16px;

  }
}

.profile-follow {
  padding-top: 40px;

  
  h4 {
    color: #4b4f54;
    font-size: 16px;
    display: inline;
    padding-right: 20px;

  }
}

.image-list {
  width: 965px;
  height: 1350px;
  margin: auto;
  clear: both;
  padding: 40px 0 40px 0;


}

img {
  margin: 15px;
  width: 30%;
  height: auto;
  display: inline-block;
  float: left;
}

.load-more {
  width: 120px;
  height: 120px;
  margin: auto;
  // padding: 40px 0 40px 0;
  border: 2px solid #468EE1;
  border-radius: 100px;
  clear: both;

  h4 {
    font-size: 15px;
    color: #468EE1;
    font-size: 12px;
    text-align: center;
    padding-top: 35px;
  }
}

footer {
  width: 900px;
  margin: auto;
  padding: 40px 20px;
  height: 60px;
  clear: both;

  ul {
    float: left;
    padding-left: 0;
  }

  li {
    display: inline;
    padding-right: 30px;
    font-size: 12px;
    color: #19558C;

  }

  div {
    margin: 16px 16px;
    float: right;
    font-size: 12px;
    padding-top: 2px;
  }

  div:before { 
    content:"\00a9"; 
  }


}

// Add View

// .add {

//   background-color: #FAFAFA;

// }