@import "bourbon";
@import "neat";
@import "font-awesome";

.container {
  background-color: #FAFAFA;

}

header {
  width: 100%;
  height: 100px;
}

.profile {
  width: 100%;
  height: 500px;
  margin: auto;

  // div {
  // display: inline;
  // }
}

.profile-image {
  margin: 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid grey;
}


.profile-info {
  width: 400px;
  
}

.profile-desc {
  h3 {
    width: 400px;
    margin: 0;
  }
}

.profile-follow {
  h4 {
    display: inline;
  }
}

.profile-title {
  h3 {
    width: 200px;
    margin: 0;
  }

  a {
    width: 200px;
    margin: 0;
  }
}


.image-list {
  width: 100%;
  margin: auto;
}

img {
  margin: 20px;
  width: 22%;
  height: auto;
  display: inline-block;
  float: left;
}

footer {
  width: 100%;
  height: 60px;
}